@page "/admin/laptops"
@page "/admin"
@inherits OwningComponentBase<ILapTopStoreRepository>
@{
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>STT</th>
            <th>Hình ảnh</th>
            <th>Tên SP</th>
            <th>Loại máy</th>
            <th>Giá tiền</th>
            <td />
        </tr>
    </thead>
    <tbody>
        @if (LaptopData?.Count() > 0)
        {
            @foreach (Laptop l in LaptopData)
            {
                <tr>
                    <td>@l.LaptopID</td>
                    <td>

                        <img src="/images/@l.ProfilePicture" asp-append-version="true" height="50" width="60" />
                    </td>
                    <td>@l.TenSP</td>
                    <td>@l.LoaiMay</td>
                    <td>@String.Format(format, "{0:c0}", l.GiaTien)</td>

                    <td>
                        <NavLink class="btn btn-info btn-sm"
                                 href="@GetDetailsUrl(l.LaptopID)">
                            <i class="bi bi-info-circle"></i>

                        </NavLink>
                        <NavLink class="btn btn-warning btn-sm"
                                 href="@GetEditUrl(l.LaptopID)">
                            <i class="bi bi-pencil"></i>

                        </NavLink>
                        <button class="btn btn-danger btn-sm"
                                @onclick="@(e => DeleteLaptop(l))">
                            <i class="bi bi-trash"></i>

                        </button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">Không có Laptop</td>
            </tr>
        }
    </tbody>
</table>
<NavLink class="btn btn-primary" href="/admin/laptops/create">Tạo mới</NavLink>
@code {
    public ILapTopStoreRepository Repository => Service;
    public IEnumerable<Laptop> LaptopData { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }
    public async Task UpdateData()
    {
        LaptopData = await Repository.Laptops.ToListAsync();
    }
    public async Task DeleteLaptop(Laptop l)
    {
        Repository.DeleteLaptop(l);
        await UpdateData();
    }
    public string GetDetailsUrl(long id) => $"/admin/laptops/details/{id}";
    public string GetEditUrl(long id) => $"/admin/laptops/edit/{id}";
}